@charset "UTF-8";
body{
    background-color: rgb(156, 113, 238);
                font-family: "Arial, Helvetica, sans-serif";
                font-size: 20px;
}
h1{
    color: rgb(81, 194, 70);
}
h2{
    color: darkred;
    text-decoration: underline;
}
p{
    text-align: justify;
}